.footer {
    background-color: var(--futter-bg-color);
    min-height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer>.container {
    display: flex;
}

.footer-nav__span {
    color: var(--second-logo-color);
}

.footer-list__list {
    margin-top: 20px;
}

.footer-list__item {
    margin-top: 9px;
}

.footer-list__link {
    color: var(--primery-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer-list__mail,
.footer-list__tel {
    color: var(--second-address-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    transition: var(--time-cubic-bezier);
}

.footer-list__mail:hover,
.footer-list__mail:focus {
    color: var(--accent-color);
}

.footer-list__tel:hover,
.footer-list__tel:focus {
    color: var(--accent-color);
}